@{
    ViewData["Title"] = "Cadastro";
}

<div class="text-center">
    <h1 class="display-4">Cadastro</h1>
    <p class="lead">Criando meu primeiro controler e action</p>
    <p>Paragrafo Normal</p>
</div>